{% extends 'base.html.twig' %}

{% block title %}Affiche{% endblock %}

{% block body %}


<div class="list-group">
  

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">list utilisateurs</th>
      <th scope="col">login</th>
      <th scope="col">password</th>
      
    </tr>
  </thead>
  <tbody>
  {% for un_utilisateur in lst_utilisateurs %}
    <tr class="table-active">
      <th scope="row"></th>
      <td>{{ un_utilisateur.login  }}</td>
      <td>{{ un_utilisateur.password  }}</td>
      
    </tr>
   {% endfor %}
    
  </tbody>
</table>


</div>



{% endblock %}
