{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block body %}



<body>

      <h2>logout</h2>
<p>  log out </p>
<p><small>This line of text is meant to be treated as fine print.</small></p>  
<a class="nav-link" href="session">
<button class="btn btn-lg btn-primary" type="button">home</button></a>

    </body>

</html>
{% endblock %}