{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block body %}



<body>

      <h2>valide</h2>
<p>login: {{ login }} mot de pass: {{ password }} {{ valide }} </p>
<p><small>This line of text is meant to be treated as fine print.</small></p>  



    </body>

</html>
{% endblock %}
